{% extends "base.html"%}

{% block content %}


<div class="text-center">
        <h3>Log in</h3>
<form action="/login" method="POST">
    <label for="inputUsername" class="sr-only">Username</label>
    <input id="inputUsername" type="text" name="username" class="myinput" placeholder="Email address">
    
    <br>
    <label for="inputPassword" class="sr-only" >Password</label>
    <input id="inputPassword" type="password" name="password" class="myinput" placeholder="Password">
    
    <br>
    <input class="button" type="submit" value="Log in">
</form>

<p>
    <a href="/signup">No account? Create one</a>
</p>
</div>
{% endblock %}