{% extends "base.html" %}

{% block content %}


<div style= "margin-left:10em; margin-top: 2em;">
<h3>Add a class message</h3>

    <form method = "POST" action="/submit">

    <label>Title for your new message
    <br>
    <input type= "text" name = "title" value={{newtitle}}>
    <br>
    </label>
    <p class="error">{{title_error}}</p>
    <br>
    <br>
    <label>Your new message
    <br>
    <textarea rows="5" cols="50" name = "body" >{{newbody}}</textarea>
    </label>
    <p class="error">{{body_error}}</p>
    <br>
    <input class="button" type="submit" value = "Add Entry"/>
   
    
    
    </form>
</div>


{% endblock %}